body {
    font-family: DejaVu Sans Mono, monospace;
    background-color: #F9FAFB;
}

#back-img {
    background: url("../img.jpg") no-repeat center center fixed;
    min-height: 100%;
    background-size:100%
}

.app__container {
    padding: 15px;
    margin: 0% 3% 3% 3%;
    font-family: DejaVu Sans Mono, monospace;
}

.app__header {
    display: flex;
    justify-content: center;
    padding: 30px 30px 0px 30px;
    text-align: center;
}

.app__content {
    margin-top: 20px;
    padding: 0px;
}

.bg-white {
    background-color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.title {
    font-family: DejaVu Sans Mono, monospace;
    letter-spacing: 0.18rem;
}

.mini_container {
    font-family: DejaVu Sans Mono, monospace;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.no-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.progress {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
}

.table {
    table-layout: fixed;
    width: 100%;
}

th {
    font-weight: normal;
}

.slider .tooltip.in {
    opacity: 1;
}

input[type="submit"] {
    text-transform: uppercase;
}

label {
    font-family: DejaVu Sans Mono, monospace;
    font-size: .9rem;
    color: #383838;
    font-weight: 300;
    padding-bottom: 5px;
    margin: 0 0 40px 0;
}

p {
    color: #383838;
}

.text-highlight {
    background-color: #f79e02;
    display: inline;
    box-shadow: 10px 0 0#f79e02,-10px 0 0 #f79e02,5px 0 0 #f79e02,-5px 0 0 #f79e02,inset 5px 0 0 #f79e02,inset 10px 0 0#f79e02;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .16em .1em;
}